<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="val">
        <input type="button" value="发送" @click="send">
        <ul>
            <li v-for="item in list">{{item.title}}</li>
        </ul>
    </div>
    <script src="js/Vue-2.6.10.js"></script>
    <script>
        new Vue({
            el:"#app",
            data:{
                val:"",
                list:[],
            },
            methods:{
                send(){
                    this.list.push({
                        id: Date.now(),
                        title:this.val
                    })
                    this.val="";
                }
            }
        })
    </script>
</body>
</html>