* {
    /* background: rgba(0, 0, 0, 0.1); */
}

body {
    background-color: rgb(240, 240, 240);
}

img {
    cursor: pointer;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

#brand,#sort>li,#search>button {
    cursor: pointer;
}

#header {
    width: 100%;
    height: 50px;
    /* background-color: rgba(220, 220, 220, 0.1); */
    position: fixed;
    top: 0;
    z-index: 999;
}

#brand {
    width: 50px;
    height: 50px;
    background-image: url(../Img/Logo/BRAND.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 150px;
}

#sort {
    max-width: 500px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 220px;
}

#sort>li {
    max-width: 120px;
    float: left;
    color: rgb(255, 255, 255);
    line-height: 50px;
    padding: 0 10px;
    transition: all 0.2s;
}

#sort>li:hover {
    background-color: #1f82fc;
    color: white;
}

#user {
    max-width: 200px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 0;
}

#log_in,#history,#like {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    cursor: pointer;
}

#log_in {
    background-image: url(../Img/Logo/账户.png);
    right: 250px;
}

#history {
    background-image: url(../Img/Logo/历史记录.png);
    right: 200px;
}

#like {
    background-image: url(../Img/Logo/关注.png);
    right: 150px;
}

#search {
    max-width: 320px;
    height: 30px;
    position: relative;
    top: 10px;
    left: 700px;
}

#search>input, #search>button {
    position: absolute;
}

#search>input {
    width: 300px;
    height: 30px;  
    padding-left: 20px;
    font-size: 14px;
    border-radius: 20px;
}

#search>button {
    width: 100px;
    height: 30px;
    right: 0;
    background-color:#1f82fc;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    line-height: 30px;
    color: white;
}

#search>button>img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: -10px;
}

#content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

#banner {
    position: relative;
    width: 1200px;
    height: 580px;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

#banner>img{
    margin: 5px;
    box-shadow: 0 0 10px 0 black;
    transition: all 0.2s;
}

#banner>img:hover {
    opacity: 0.9;
}

#banner>img:nth-child(1) {
    width:560px;
    height: 280px;
}

#banner>img:nth-child(2) {
    width:200px;
    height: 280px;
}

#banner>img:nth-child(3) {
    width:200px;
    height: 280px;
}

#banner>img:nth-child(4) {
    width:200px;
    height: 280px;
}

#banner>img:nth-child(5) {
    width:200px;
    height: 280px;
}

#banner>img:nth-child(6) {
    width:200px;
    height: 280px;
}

#banner>img:nth-child(7) {
    width:560px;
    height: 280px;
}

#banner>img:nth-child(8) {
    width:200px;
    height: 280px;
}

#actor {
    display: flex;
    flex-wrap: wrap;
}

#actor>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 5px 5px 20px 0 rgb(100, 100, 100);
    transition: all 0.1s;
}

#actor>img:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 20px 0 rgb(40, 40, 40);
}

.title {
    font-weight: bold;
    margin: 40px 0 10px 0;
    color: rgb(40, 40, 40);
    display: flex;
}

.title>span {
    margin-left: 20px;
    line-height: 40px;
    cursor: pointer;
}

.block {
    display: flex;
    flex-wrap: wrap;
}

.block>div {
    position: relative;
    width: 190px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    overflow: hidden; 
}

.block>div:hover {
    /* box-shadow: 1px 1px 30px 0 rgb(10, 10, 10); */
}

.block>div>.mask {
    transform: translateY(100%);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 280px;
    text-align: center;
    color: black;
    font-size: 28px;
    transition: all 0.2s;
    
}

.block>div:hover .mask {
    display: block;
    transform: translateY(0);
}

.block>div>img {
    width: 190px;
    height: 280px;  
    transition: all 0.2s;
}

.block>div:hover img {
    transform: scale(1.5);
    filter: blur(10px);
}

.block .info{
    color: rgb(87, 87, 87);
    font-size: 12px;
}

#tool_bar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    bottom: 50px;
    background-color: #1f82fc;
    line-height: 50px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

#tool_bar a {
    color: white;
}

#tool_bar:hover {
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
}

.content-blurred {
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
}

#navbar {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    background: #bbbbbb;
    z-index: 9;
}
